//
//  OCCoaBasedProject.xcconfig
//  OCCocoa
//
//  Created by Administrator on 27/04/14.
//  Copyright (c) 2014 OneClick BVBA. All rights reserved.
//

//ALWAYS_SEARCH_USER_PATHS = YES
//USER_HEADER_SEARCH_PATHS = $SRCROOT/** $SRCROOT/../OCCocoa/**
//
//// Make categories work from a static library
//OTHER_LDFLAGS = -ObjC
